.head {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../src/assets/logo-head.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}

.logo {
    padding: 40px;
    font-size: 20px;
}

@media only screen and (max-device-width: 2000px) {
    .central-name {
        font-size: 50px;
        margin-bottom: 300px;
        margin-top: 200px;
    }
}

@media only screen and (max-device-width: 700px) {
    .central-name {
        font-size: 50px;
        margin-bottom: 200px;
        margin-top: 200px;
    }
}

.head-contacts-button {
    margin: 0 5px;
}

.head-contacts {
    position: absolute;
    bottom: 0;
}
