.head {
    width: 100%;
    min-height: 900px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../src/assets/head-back.png");
    background-size: cover;
    display:block;
    color: white;
}

.logo {
    padding: 40px;
    font-family: "Rubik Mono One", sans-serif;
    /*font-weight: 900;*/
    font-size: 20px;
}

.central-name {
    font-size: 50px;
    margin-bottom: 300px;
    margin-top: 200px;
}

.head-contacts-button {
    margin: 0 5px;
}