@font-face {
    font-family: Rubik Mono One;
    src: url("./assets/fonts/RubikMonoOne-Regular.ttf");
}

body {
    margin: 0;
    font-family: 'Rubik Mono One', 'Roboto',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}